.header{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  color: white;
  background-color:#878686
}

.loader{
  text-align: center;
  background-color: #EBEAEA;
  padding: 30px;
}